*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #333;
}

.container{
    width: 90%;
    margin:0 auto;
    
}

.mapa{
    width:900px;
    position: relative;
    
}
.mapa img{
    width: 100%;
}

.punto{
    position: absolute;
   }
.descripcion{
    width: 100px;
    height: auto;
    background-color: palegoldenrod;
    position: absolute;
    left: 30px;
    visibility: hidden;
  
}

.punto:hover .descripcion{
    visibility: visible;
}
#puertadelvino{
    left:430px;
    top: 830px;
    
}
#lagalana{
    left: 460px;
    top: 636px;
}
#elganan{
    left:115px;
    top: 913px;
    
}
#obelisco{
    left: 420px;
    top: 450px;
}
    
p{
    text-decoration: underline;
    text-align: center;
    font-size: bold;
}